<a href="https://colab.research.google.com/github/dfolgado/ejemplos_aprender_python/blob/main/estructura_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Listas**

In [ ]:
lista_prueba=[1,2,3,4]
colores=["amarillo", "naranja", "rojo"]
print(type(colores))
print(colores)
print(lista_prueba)
print("El color en la posición 2 en la lista colores es", colores[2])
print("El color en la posición 1 en la lista colores es", colores[1])
print("El color en la posición 0 en la lista colores es", colores[0])
print("En la posición 3 en lista_prueba está el", lista_prueba[3])
print("La lista lista_prueba tiene una longitud de", len(lista_prueba))
print("La lista colores tiene una longitud de", len(colores))
print("El color amarillo aparece", colores.count("amarillo"), "veces")

<class 'list'>
['amarillo', 'naranja', 'rojo']
[1, 2, 3, 4]
El color en la posición 2 en la lista colores es rojo
El color en la posición 1 en la lista colores es naranja
El color en la posición 0 en la lista colores es amarillo
En la posición 3 en lista_prueba está el 4
La lista lista_prueba tiene una longitud de 4
La lista colores tiene una longitud de 3
El color amarillo aparece 1 veces

**Edición listas**

In [ ]:
# Añadimos con append un nuevo color al final
colores.append("violeta")
print(colores)

# Añadimos otro color con insert en la segunda posición empezando por el final
colores.insert(-2, "amarillo")
print(colores)
print(colores.count("amarillo"))

# Ahora añadimos otra lista (en este caso con dos colores) con extend
colores.extend(["blanco","azul"])
print(colores)

# Podemos editar también  añadimos otra lista (en este caso con dos colores) con extend
colores[0]="verde"
print(colores)

['amarillo', 'naranja', 'rojo', 'violeta']
['amarillo', 'naranja', 'amarillo', 'rojo', 'violeta']
2
['amarillo', 'naranja', 'amarillo', 'rojo', 'violeta', 'blanco', 'azul']
['verde', 'naranja', 'amarillo', 'rojo', 'violeta', 'blanco', 'azul']

**Otro ejemplo lista**

In [ ]:
nombre_completo = ["David", "Folgado", "De la Rosa"]
print(nombre_completo)
print(len(nombre_completo))


nombre_completo.append("vive en Elda")
print(nombre_completo)
print(len(nombre_completo))

direccion = ["Plaza Mayor", "Elda"]

nombre_completo.extend(direccion)
print(nombre_completo)
print(len(nombre_completo))


nombre_completo.insert(-2, "es profe")
print(nombre_completo)
print(len(nombre_completo))

nombre_completo.count("Elda")
nombre_completo.count("Petrer")
nombre_completo.insert(-3, "Elda")
print(nombre_completo)
print(len(nombre_completo))
nombre_completo.count("Elda")

['David', 'Folgado', 'De la Rosa']
3
['David', 'Folgado', 'De la Rosa', 'vive en Elda']
4
['David', 'Folgado', 'De la Rosa', 'vive en Elda', 'Plaza Mayor', 'Elda']
6
['David', 'Folgado', 'De la Rosa', 'vive en Elda', 'es profe', 'Plaza Mayor', 'Elda']
7
['David', 'Folgado', 'De la Rosa', 'vive en Elda', 'Elda', 'es profe', 'Plaza Mayor', 'Elda']
8

2

**Tuplas**

In [ ]:
mi_tupla = (1,2,3,4)
meses_verano = ("Junio", "Julio", "Agosto")
print(type(meses_verano))
print(meses_verano)
print(mi_tupla)
print("La longitud de la tupla mi_tupla es", len(mi_tupla))
print("El elemento de la tupla en la posición 3 es el", mi_tupla[3])
print("El elemento de la tupla en la posición 1 es el", meses_verano[1])
print(f"Enero se repite {meses_verano.count('Enero')} veces en meses_verano")

<class 'tuple'>
('Junio', 'Julio', 'Agosto')
(1, 2, 3, 4)
La longitud de la tupla mi_tupla es 4
El elemento de la tupla en la posición 3 es el 4
El elemento de la tupla en la posición 1 es el Julio
Enero se repite 0 veces en meses_verano

**Diccionarios**

In [ ]:
libro = {
"nombre": "Libro de los sueños",
"cantidad": 8,
"precio":4.99
}


persona = {
"nombre": "Pepe",
"apellido": "Brotons"
}


print(type(libro))
print(libro)


# Accedemos a los valores de producto mediente sus claves
print("El nombre del producto es", libro.get("nombre"))
print("Y tiene un precio de ", libro.get("precio"))


print("El nombre dela persona es", persona.get("nombre"))
print("Y el apellido", persona.get("apellido"))


# Algunas de las funciones de los diccionarios
print("Las claves de persona son", persona.keys())
print("Los valores de persona son", persona.values())
print("Los items de persona son", persona.items())
print("La longitud de persona es", len(persona))
persona.clear()
print(persona)

<class 'dict'>
{'nombre': 'Libro de los sueños', 'cantidad': 8, 'precio': 4.99}
El nombre del producto es Libro de los sueños
Y tiene un precio de  4.99
El nombre dela persona es Pepe
Y el apellido Brotons
Las claves de persona son dict_keys(['nombre', 'apellido'])
Los valores de persona son dict_values(['Pepe', 'Brotons'])
Los items de persona son dict_items([('nombre', 'Pepe'), ('apellido', 'Brotons')])
La longitud de persona es 2
{}