<a href="https://colab.research.google.com/github/dfolgado/ejemplos_aprender_python/blob/main/introducci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hola mundo**

In [ ]:
print("hola mundo")

**Comentarios**

In [ ]:
print("hola mundo") # Esto lo vimos en la primera clase
'''print("hola mundo 2")
print("hola mundo 3")'''
print("hola mundo 4")

hola mundo
hola mundo 4

**Entrada datos**

In [ ]:
nombre = input("Introduce tu nombre: ")
print(nombre, "eres mi creador.")

# Aquí no hacemos ninguna comparación o calculo con edad, por lo que no hace falta el int()
edad = input("Introduce tu edad: ")
print(nombre, "tienes", edad,"años")
print(f"{nombre} tienes {edad} años.")

Introduce tu nombre: Federico
Federico eres mi creador.
Introduce tu edad: 56
Federico tienes 56 años
Federico tienes 56 años.

**Cálculo área**

In [ ]:
print("Programa cálculo de área de un rectángulo")
base = float(input("Introduce la base en cms: "))
altura = float(input("Introduce la altura en cms: "))
area = base * altura
print("El rectángulo tiene un área de",area,"cm cuadrados")

Programa cálculo de área de un rectángulo
Introduce la base en cms: 8.4
Introduce la altura en cms: 2.3
El rectángulo tiene un área de 19.32 cm cuadrados

**Tipo de datos**

In [ ]:
entero = int(input("Introduce un entero: "))
decimal = float(input("Introduce un decimal: ")) # con un punto (Ej. 34.8)
texto = input("Introduce un texto: ")

print("Soy un entero: ", entero)
print("Soy un decimal: ", decimal)
print("Soy un texto: ", texto)
print("Soy un booleano: ", True)

Introduce un entero: 6
Introduce un decimal: 7.9
Introduce un texto: Holaaa
Soy un entero:  6
Soy un decimal:  7.9
Soy un texto:  Holaaa
Soy un booleano:  True

**Asignación**

In [ ]:
d = 9

a = b = c = d

print(a,b,c,d)

9 9 9 9

**Incremento**

In [1]:
a=10
a=11
print(a)

a+=1
print(a)

11
12

**Decremento**

In [ ]:
a=10
a=a-1
print(a)

a-=1
print(a)

9
8

**Multiplicación**

In [ ]:
x = 10
y = 2
print(" La multiplicación de", x, "e", y, "es", x*y)
print(f" La multiplicación de {x} e {y} es {x*y}")

 La multiplicación de 10 e 2 es 20
 La multiplicación de 10 e 2 es 20

**Divisiones**

In [4]:
x = 6
y = 3
z = 4
print(f"La división de {x} y {y} es {x/y}")
print(f"La división entera de {x} e {y} es {x//y}")
print(f"La división de {z} y {y} es {z/y}")
print(f"La división entera de {z} y {y} es {z//y}")
print(f"El resto (módulo) de la división entera de {z} y {y} es {z%y}")

La división de 6 y 3 es 2.0
La división entera de 6 e 3 es 2
La división de 4 y 3 es 1.3333333333333333
La división entera de 4 y 3 es 1
El resto (módulo) de la división entera de 4 y 3 es 1

**Potencia**

In [3]:
a = 5
b = 2
print(f"{a} elevado a {b} es igual a {a**b}")

5 elevado a 2 es igual a 25

**Operadores de comparación y lógicos**

In [2]:
print( "10 > 5 da como resultado", 10>5)
print( "10 < 5 da como resultado", 10<5)
print( "5 == 5 da como resultado", 5==5)
print( "10 == 5 da como resultado", 10==5)

a = 4
b = 5
c = 6

print( "a>=b da como resultado", a>=b)
print( "a==b da como resultado", a==b)
print( "not(a==b) da como resultado", not(a==b))
print( "a>b and b<c da como resultado", a>b and b<c)
print( "a>b or b<c da como resultado", a>b or b<c)

10 > 5 da como resultado True
10 < 5 da como resultado False
5 == 5 da como resultado True
10 == 5 da como resultado False
a>=b da como resultado False
a==b da como resultado False
not(a==b) da como resultado True
a>b and b<c da como resultado False
a>b or b<c da como resultado True